{# views/Domaine/liste #}

<ul>
    {% for domaine in liste_domaines %}
        <li class='{{ domaine.Libelle }}' style=" background-image: url('{{ asset('bundles/mcmegacasting/img/domain/' ~ domaine.libelle ~ '.jpg')}}')" ><a href="{{ path('mc_mega_casting_Offre_Domaine',{ 'libelle_domaine' : domaine.Libelle})}}">{{ domaine.Libelle }}</a></li>
    {% endfor %}
</ul>