{# views/Domaine/liste #}
<u1>
    Liste des domaines
</u1>
<ul>
  {% for domaine in liste_domaines %}
      <li>
          <a href="{{ path('mc_mega_casting_Offre_Domaine', {'libelle_domaine': domaine.Libelle}) }}">
              {{ domaine.Libelle }}
              </a>
      </li>
  {% else %}
    <li>Pas de domaines trouvé.</li>
  {% endfor %}
</ul>
