{# views/Photo/update #}

<div class="sous-titre">Photo de profil</div>
<div class="form-row">
    {# Génération du label. #}
    {{ form_label(form.file, "Image", {'label_attr': {'class': 'form-label'}}) }}

    {# Génération de l'input. #}
    {{ form_widget(form.file, {'attr': {'class': 'form-widget'}}) }}
    
    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.file) }}
</div>