{# views/Utilisateur/add #}

{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div class="titre_view">
        INSCRIPTION - {{ type_user|upper }}      
    </div>
    <div>
        {{ form(form) }}
    </div>
</div>    
{% endblock %}

