{# views/Artiste/domaineMetier #}

{% set domaines = [] %}
{% for metier in artiste.metier %}
    {% if metier.domaine.libelle in domaines %}
    {% else %}                        
        {% set domaines = [metier.domaine.libelle]|merge(domaines) %}
    {% endif %}
{% endfor %}   
<span class="artiste_domaine">Domaine(s) :</span>
{% for dom in domaines %}
    <span class="artiste_domaine">
    {{ dom }} (
    {% set i = 0 %}
    {% for metier in artiste.idmetier %}
        {% if metier.domaine.libelle == dom %}
            {% if i > 0 %}
                / 
            {% endif %}
            {{ metier.libelle }}
            {% set i = i + 1 %}
        {% endif %}
    {% endfor %}
    )</span>
{% endfor %}