{# views/EspacePerso/index #}
{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div>
        <div class="titre_view">
            Espace perso de {{ app.user.username }}    
        </div>
        <div>
            Mail : {{ app.user.email }}
        </div>
        <div>
            Mot de passe : {{ app.user.password }}
        </div>     
    </div>
</div>    
{% endblock %}

