{# views/EspacePerso/index #}
{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div class="titre_view">
        Espace personnel
    </div>
    {{ render(controller('FOSUserBundle:Profile:show')) }}
</div>    
{% endblock %}

