{# views/EspacePerso/update #}
{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div class="titre_view">
        Espace perso - Mise à jour   
    </div>
    <div>
        {{ form(form) }}
    </div>
</div>    
{% endblock %}

