{# views/EspacePro/index #}
{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div class="titre_view">
        Espace professionnel
    </div>
    <div>
        <a href="{{ path('mc_mega_casting_EspacePro_Register')}}">Inscription</a>
    </div>
</div>    
{% endblock %}