/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 mars 2015, 09:42:24
    Author     : kevin
*/

*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          
  box-sizing: border-box;
          
}

@font-face {
    font-family: "Allura_Regular";
    src: url('../font-face/Allura-Regular.otf');
}
@font-face{
    font-family: "Bentham";
    src: url('../font-face/Bentham/Bentham.otf');
}
.clear{
   clear: both;
}

.center{
    text-align: center;
}


body{
    margin: 0; padding: 0;
    /* background-image: url('../img/bkg-body.png'); */
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

header{
    background-color: #731443;
    float: left;
    width: 100%;
}

.container{
/*    width: 90%;
    margin: 0 auto; */
}

.row{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}

#top-header{
    float: left;
    position: relative;
    text-align: center;
}

#logo{
    background-image: url("../img/Logo_V01.png");
    background-size: cover;
    width: 75px;
    height: 75px;
    float: left;
    margin: 0 auto;
}
.row nav{
    float: left;
}

.row nav ul{
    margin: 0; padding: 0;
    color: white;
    font-family: Allura_Regular;
    font-size: 2.5em;
}

.row nav li{
    list-style: none;
    display: inline-block;
    margin-left: 75px;
    line-height: 75px;
    font-size: 0.8em;
   
}

.row nav li a{
    text-decoration: none;
    color: white;
}

#logout a{
    text-decoration: none;
    color: black;
}

.row nav li a:hover {
    text-decoration: underline;
}

.row nav #accueil{
    display: none;
}

/**
* SUB-HEADER
*/

#sub-header{
  margin: 0;   padding: 0;
  float: left;
}

#sub-header ul{
  width: 100%;
  margin: 0;   padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  background-color: #282828;
  font-family: Bentham;
}

#sub-header ul li{
    display: inline-block;
    width: 11.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
}

#sub-header li.music{
    background-image: url('../img/domain/music.jpg');
}
#sub-header li.cinema{
    background-image: url('../img/domain/cinema.jpg');
}
#sub-header li.child{
    background-image: url('../img/domain/child.jpg');
}
#sub-header li.spectacle{
    background-image: url('../img/domain/dance.jpg');
}
#sub-header li.divers{
    background-image: url('../img/domain/others.jpg');
}

#sub-header ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 12.2em;
}

#sub-header ul li a:hover {
    text-decoration: underline;
}



/*
    Main Conteneur
*/

.mainConteneur{
    width: 100%;
    background-color: white;
    float: left;
}


/* Responsive Slider */

.slider{
    position: relative;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height:200px;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  height:200px;
  border: 0;
  }
  
  .rslides1_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    z-index: 99;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../img/slider/themes.gif") no-repeat left top;
    margin-top: -45px;
  }
  
  .rslides1_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
  }
  
  
  /* Sub Main */
  #sub-main{
      width: 100%;
      float: left;  
      background-color: white;
}
  
  h3{
      text-align: center;
      padding: 5px;
      border-bottom: 2px solid black;
      margin: 0;
      background-color: #731443;
      color: white;
}
/* Section Artistes*/
#sub-main #artistes{
    float: left;
    width: 50%;
    border-left: 2px solid black;
}

.artiste{
    float: left;
}

.artiste:hover{
    background-color: lightgray;
}

.artiste .artiste_picture img{
     display: block;
     margin: 0 auto;
}

.artiste .artiste_info{
    padding: 10px 10px 3px 10px;
}
.artiste_name,.artiste_age, .artiste_sexe, .artiste_domaine, .artiste_taille, .artiste_poids, .artiste_couleurCheveux, .artiste_couleurYeux{
    display: block;
}

/* Section Castings */
#sub-main #castings{
    float: left;
    /* display: block; */
    width: 50%;
    border-right: 2px solid black;
    border-left: 1px solid black;
}

.casting{
  display: block;
  border-bottom: 1px solid black;
  text-decoration: none;
  padding: 10px;
  color: black;
}

.casting:hover{
    background-color: lightgray;
}

.casting .title{
    display: block;
    padding-bottom: 5px;
}

.casting .info .domaine{
    text-transform: uppercase;
}

.casting .info .date{
    float: right;
}


/*Section partenaire*/

#partenaires{
    background-color: white;
}

h4{
    text-align: center;
    border-bottom: 2px solid black;
    padding: 5px;
    background-color: #731443;
    color: whitesmoke;
    margin: 0;
}

#list{
    text-align: center;
    padding: 20px;
}


/*
* Footer
*/

footer{
    width: 100%;
    float: left;
    padding: 20px;
    background-color: #282828;
    color: white;
}

footer .footer-left{
    float: left;
}

footer .footer-right{
    float: right;
}

.rs_logo{
    padding-top: 10px;
    text-align: center;
}

/*
*   View globale
*/

.titre_view {
  height: 75px;
  font-size: 3em;
  text-align: center;
  background-color: #282828;
  color: white;
  line-height: 75px;
}

/*
* Partie Offre View 
*/

#offre{
    display: inline-block;
    width: 100%;
    text-align: center;
}

#offre .row span{
    display: block;
    font-family: 'Sintony', sans-serif;
    font-size: 1.4em;
}

#offre .row span label{
    font-size: 1.2em;
    font-style: normal;
    font-family: 'Architects Daughter', cursive;
}

#offre .row #intitule{
    text-align: center;
    font-size: 1.5em;
}

#offre .row #reference{
    display: inline-block;
}

#offre .row #datePublication{
    display: inline-block;
    float: right;
}

#offre .row .row_title{
  display: block;
  background-color: #731443;
  color: white;
  padding: 2px;
}


#offre .offre_info{
    display: inline-block;
    border-left: 1px solid #731443;    
    border-right: 1px solid #731443;
    padding: 5px;
}

/*
*   Partie Artiste View
*/

#artiste {
    display: inline-block;
    width: 100%;
    text-align: center;
    
    margin-bottom: 5px;
    margin-top: 5px;
}

#artiste .artiste_info{
    display: inline-block;
    border-left: 1px solid #731443;    
    border-right: 1px solid #731443;
    padding: 5px;
}

#artiste .artiste_picture{
    display: inline-block; 
    position: relative;
    vertical-align: top;
    width: 100px;
    
}
#artiste .artiste_picture .artiste_picture_profil{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50%;
    
}

#artiste .artiste_picture img:hover{
    border: 1px solid #731443;
}

#artiste .artiste_info .artiste_info_generale, .info_compte{
    float: left;
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
}

#artiste .artiste_info .info_compte span {
    display: block;
}

#artiste .artiste_info .info_compte .lien_modifier{
    display: inline-block;
}

#artiste .artiste_info .artiste_info_physique{
    float: left;
    display: block;
    width: 100%;
}

.sous-titre{
    font-size: 1.2em;
    background-color: #731443;
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 3px;
}

#formulaire {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.form-row {
    margin: 5px;
}

.form-label {
    display: inline-block;
    float: left;
    width: 200px;
}

.form-widget {
    display: inline-block;
}

.widget-error {
    background-color: red;
}

.form-error {
    color: red;
}

/*
* Lien bouton modifier
*/
.lien_modifier {
    background-color: #731443;
    padding: 3px;
    margin-top: 5px;
    display: inline-block;
}

.bouton {
    background-color: #731443;
    color: white;
}