/*
* Modification de la mise en page pour les tablettes entre une largeur de 600 à 1024px
*/
@media screen and (min-width: 601px) and (max-width : 1024px){
   
    /*
    * Header - Navigation
    */ 
    .row nav li{
        font-size: 0.6em;
        margin-left: 38px;
    }
    /*
    * Header - Liste des domaines
    */ 
    #sub-header ul li a{
        font-size: 0.6em;
        line-height: 19.2em;
    }
    
   /*
    * Responsive Slide
    */
    .rslides, .rslides li img {
        height: 380px;
    }
    
   /*
    * Offre_View
    */
    #offre{
        font-size: 0.6em;
    }
}
/*
* Modification de la mise en page pour les tablettes entre une largeur de 480 à 600px
*/
@media screen and (min-width: 481px) and (max-width : 600px){
    /*
    * Header
    */ 
    #logo{
        width: 60px;
        height: 60px;
    }
   /*
   * MainConteneur - Titre
   */
   .titre_view{
     font-size: 2em;  
   }
    /*
    * Header - Navigation
    */ 
    .row nav li{
        font-size: 0.5em;
        margin-left: 25px;
        line-height: 60px;
    }
    /*
    * Header - Liste des domaines
    */ 
    #sub-header ul li {
        width: 23.5%;
        text-align: center;
    }
    
    #sub-header ul li a{
        font-size: 0.9em;
        line-height: 12.2em;
    }
    
    /*
    * Responsive Slide
    */
    .rslides, .rslides li img {
        height: 310px;
    }
    
    /*
    * Derniers Castings
    */ 
    #castings a{
        font-size: 0.8em;
    }
    
   /*
    * Offre_View
    */
    #offre{
        font-size: 0.6em;
    }
    /*
    * Artiste_View
    */
    
    #artiste .artiste_picture{
        display: block;
        width: 100%;
        position: inherit;
    }
    
    #artiste .artiste_picture .artiste_picture_profil{
        position: inherit;
    }
}
/*
* Modification de la mise en page pour les Formats Mobiles
*/
@media screen and (min-width : 240px) and (max-width : 480px){
    /*
    * Header
    */
    #logo {
      float: none;
      margin: 0 auto;
    }
   /*
   * MainConteneur - Titre
   */
   .titre_view{
     font-size: 1.5em;  
   }
    /*
    * Header - Navigation
    */ 
    .row nav {
        width: 100%;
    }
    
    .row nav li{
        display: block;
        width: 100%;
        border: 1px solid white;
        margin: 0;
    }
    
    .row nav #accueil{
        display: block;
    }
    /*
    * Header - Liste des domaines
    */ 
    #sub-header{
        display: none;
    }
    
    /*
    * Responsive Slide
    */
    .rslides, .rslides li img {
        height: 260px;
    }
    
    /*
    * Derniers Artistes / Derniers Castings
    */
    #sub-main #artistes, #sub-main #castings{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    
    #sub-main #artistes .artiste, #sub-main #castings .casting{
        float: none;
        display: block;
        width : 100%;
        text-align: center;
    }
    
    #castings{
        clear: both;
    }
    
    /*
    * Offre_View
    */
    #offre{
        font-size: 0.6em;
    }
    
    #offre .row span label{
        text-decoration: underline;
        width: 100%;
        display: block;
    }
    
    #offre .row #reference{
        display: initial;
    }
    
    #offre .row #datePublication{
        display: initial;
        float: none;
    }
    
    
    /*
    * Artiste_View
    */
    #artistes{
        margin: 0; padding: 0;
    }
    #sub-main #artistes, #sub-main #artistes h3, #sub-main #artistes a.artiste, .artiste_general, .artiste_picture, .artiste_info{
        float: left;
    }
    #artistes h3{
        width: 100%;
    }
   
    
    #artiste .artiste_picture{
        display: block;
        width: 100%;
        position: inherit;
    }
    
    #artiste .artiste_picture .artiste_picture_profil{
        position: inherit;
    }
    

    /*
    * Formulaire 
    */
    
    .form-label{
        width: 100%;
    }
    
    /*
    * Footer 
    */
    footer{
        padding: 20px 0px 20px 0px;
    }
    
    .footer-left{
        text-align: center;
        width: 100%;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
    }
    .footer-right{
        text-align: center;
        width: 100%;
        padding-top: 5px;
    }
    

    
}