{# views/Offre/liste #}

{% set verif = false %}
{% set i = 0 %}
{% for offre in liste_offres %}
    {% if( i <= 4) %}   
        {% if (offre.EstValide)%}
        <a href="{{ path('mc_mega_casting_Offre_view', {'id_offre': offre.Id}) }}" class="casting">
            <span class="title">{{ offre.Intitule }}</span>
            <span class="info">
                <span class="domaine">{{ offre.domaine.Libelle }}</span>
                <span class="date">{{ offre.DatePublication|date('d/m/Y') }}</span>
            </span>
        </a>
        {% set verif = true %}
        {% endif %}
    {% endif %}
    {%set  i = i +1 %}
{% else %}
    <p>Pas d'offres trouvé.</p>
    {% set verif = true %}
{% endfor %}
{% if  verif == false %}
    <p>Pas d'offres trouvé.</p>
{% endif %} 
