{# views/Offre/liste #}

{% if liste_offres is null %}
    <p>Pas d'offres trouvé.</p>
{% else %}
    {% for offre in liste_offres %}
        {% if offre.EstValide %}
        <a href="{{ path('mc_mega_casting_Offre_view', {'id_offre': offre.Id}) }}" class="casting">
            <span class="title">{{ offre.Intitule }}</span>
            <span class="info">
                <span class="domaine">{{ offre.domaine.Libelle }}</span>
                <span class="date">{{ offre.DatePublication|date('d/m/Y') }}</span>
            </span>
        </a>
        {% endif %}
    {% endfor %}
{% endif %}
