{# views/CaracPhysique/view #}


<span class="artiste_taille">Taille : 
    {% if artiste.caracteristiquephysique.taille %}
        {{ artiste.caracteristiquephysique.taille }} cm
    {% else %}
        Non saisi
    {% endif %}
</span>   
<span class="artiste_poids">Poids : 
    {% if artiste.caracteristiquephysique.poids %}
        {{ artiste.caracteristiquephysique.poids }} kg
    {% else %}
        Non saisi
    {% endif %}
</span>  
<span class="artiste_couleurCheveux">Couleur des cheveux : 
    {% if artiste.caracteristiquephysique.couleurcheveux %}
        {{ artiste.caracteristiquephysique.couleurcheveux }}
    {% else %}
        Non saisi
    {% endif %}
</span> 
<span class="artiste_couleurYeux">Couleur des yeux : 
    {% if artiste.caracteristiquephysique.couleuryeux %}
        {{ artiste.caracteristiquephysique.couleuryeux }}
    {% else %}
        Non saisi
    {% endif %}
</span> 